# Root location ($HOME) [0]
*
!.gitignore
!.bashrc
!README.md
!install.sh

# Config folder [1]
!.config/

# Alacritty [2]
!.config/alacritty/
!.config/alacritty/*

# Elkowar wacky widgets [2]
!.config/eww/
!.config/eww/*
!.config/eww/assets/*
!.config/eww/layout/*
!.config/eww/lookandfeel/*
!.config/eww/scripts/*

# GTK [2]
!.config/gtk-3.0/
!.config/gtk-3.0/*

# Hyprland [2]
!.config/hypr/
!.config/hypr/*
!.config/hypr/background/*
!.config/hypr/modules/*

# PCManFM-Qt [3]
!.config/pcmanfm-qt/
!.config/pcmanfm-qt/default/
!.config/pcmanfm-qt/default/settings.conf

# Font configuration [2]
!.config/fontconfig/
!.config/fontconfig/fonts.conf

# Mako [2]
!.config/mako/
!.config/mako/config
