.power-main {
    //border-radius: $window-corner-size;
    //box-shadow:inset 0 0 0 1px $gray-92;
    //border: 1px solid $gray-92;
}

.power-main-upper {
    border-radius: $window-corner-size $window-corner-size 0 0;
    background-color: $gray-92;
}

.power-main-upper-title {
    font-size: 20px;
    padding: 8px;
}

.power-main-upper-semititle {
    font-size: 16px;
}

.power-main-lower {
    border-radius: 0 0 $window-corner-size $window-corner-size;
    background-color: white;
    padding: 0 20px 20px 20px;
}

.power-main-lower-btn {
    background-color: $primary-orange;
}

.power-main-lower > button {
    margin-top: 20px;
}
