/* ----------------------------------------------------- */
/* DahliaOS Color Scheme                                 */
/* https://github.com/dahliaOS/brand/blob/main/README.md */
/* ----------------------------------------------------- */

// $primary-orange: #ff3d00;
$primary-white: #ffffff;
$primary-black: #212121;

/* ----------------- */
/* Additional Colors */
/* ----------------- */
$primary-light-orange: #fbd1c4;
$primary-dark-gray: #666666;
$primary-medium-gray: #c5c5c5;
$primary-light-gray: #e0e0e0;

$dark-orange: #ce3100;
$dark-gray: #c9c9c9;

// NEW API
// -----------------------------------------

$gray-92: #ebebeb;
$shadow-color: #a6aebf;
$primary-orange: #ff3d00;
$primary-orange-dark: #d03d00;
$secondary-orange: #fa7014;
$orange-light: #ffb6a0;

$window-corner-size: 8px;
$window-shadow: 0 0 3px 1px $shadow-color;

$default-font-name: 'Inter';
$default-font-size: 16px;
$fixed-width-numbers: 'tnum';

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

* {
    all: unset;
    color: $primary-black;
    font-family: $default-font-name;
    font-weight: $font-weight-medium;
    font-feature-settings: $fixed-width-numbers;
    font-size: $default-font-size;
}
