/* ----------------------------------------------------- */
/* DahliaOS Color Scheme                                 */
/* https://github.com/dahliaOS/brand/blob/main/README.md */
/* ----------------------------------------------------- */

$primary-orange: #ff3d00;
$primary-white: #ffffff;
$primary-black: #212121;

/* ----------------- */
/* Additional Colors */
/* ----------------- */
$primary-light-orange: #fbd1c4;
$primary-dark-gray: #666666;
$primary-medium-gray: #c5c5c5;
$primary-light-gray: #e0e0e0;

$dark-orange: #ce3100;
$dark-gray: #c9c9c9;

$gray-92: #ebebeb;
$window-corner-size: 8px;

* {
    all: unset;
    color: $primary-black;
    font-family: 'Inter Medium';
    font-feature-settings: 'tnum';
}
