// .workspace-container {
//     background-color: $primary-white;
//     border-radius: 8px;
//     box-shadow: 0 0 0.25em $primary-black;
// }

/* Active workspace button */
.workspace-active-button {
    background-color: #ff6600; /* Primary orange */
    color: #ffffff; /* White text for contrast */
    border-radius: 5px;
}

/* Workspace with open applications */
.workspace-open-button {
    background-color: rgba(255, 102, 0, 0.3); /* Opaque version of the primary orange */
    color: #ff6600; /* Use the primary orange for text */
    border-radius: 5px;
}

/* Empty workspace */
.workspace-empty-button {
    background-color: #f0f0f0; /* Light gray background */
    color: #808080; /* Gray text */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
}